.form {
	box-sizing: border-box;
	max-width: 400px;
	margin: 0 auto;
	border: 1px solid $color-gray-light;
	border-radius: 2px;
	background-color: $color-white-off;
	margin-top: 20px;
	padding: 10px 15px;

	@include mq($from: tablet-min) {
		float: right;
		margin-top: 0;
		border: none;
	}

	@include mq($from: tablet-min, $until: desktop-min) {
		width: 50%;
		padding: 15px;
	}

	@include mq($from: desktop-min) {
		width: 400px;
		padding: 25px;
	}
}

	.form__intro {
		font-family: $font-serif;
		font-size: $font-m;
		padding-bottom: 3px;
		border-bottom: 2px solid $color-yellow-tribune;
	}

	.form__fieldset {
		max-width: 400px;
		border: none;
		margin: 20px auto 0 auto;
		padding: 0;
	}

		.form__amounts {
			list-style: none;
		}

			.form__amount {
				display: inline-block;

				&--set {
					@extend .form__amount;
					width: 20%;
					float: left;
				}

				&--manual {
					@extend .form__amount;
					width: 100%;
					max-width: 200px;
					margin: 10px auto 0 auto;
				}
			}

				.form__amount-radio {

				}

				.form__amount-label {
					font-size: $font-m;
					font-family: $font-sansserif;
					color: $color-black-pure;
				}

				.form__amount-input {
					height: 30px;
					background-color: $color-white-pure;
					border: 1px solid $color-teal-gray;
					color: $color-black-pure;
					text-indent: 10px;
				}

		.form__frequencies {
			list-style: none;
			text-align: center;
		}

			.form__frequency {
				display: inline-block;
				width: calc(33% - 15px);
				margin-right: 15px;

				&:last-child {
					margin-right: 0;
				}
			}

				.form__frequency-button {
					box-sizing: border-box;
					width: 100%;
					height: 35px;
					display: block;
					background-color: $color-teal-gray;
					border: none;
					border-radius: 3px;
					color: $color-white-pure;
					font-family: $font-sansserif;
					font-size: $font-s;
					cursor: pointer;

					&.selected {
					  background-color: $color-gray-dark;
					}

					&:active {
						background-color: $color-black-off;
					}
				}

		.form__contact-group {
			display: block;

			&:last-child {
				margin-top: 20px;
			}
		}

			.form__contact-label {
				display: block;
				font-family: $font-serif;
				font-size: $font-m;
			}

			.form__contact-input {
				display: block;
				width: 100%;
				height: 30px;
				margin-top: 5px;
				background-color: $color-white-pure;
				border: 1px solid $color-teal-gray;
				color: $color-black-pure;
				text-indent: 10px;
			}

		.form__submit {
			box-sizing: border-box;
			width: 100%;
			height: 35px;
			display: block;
			background-color: $color-teal-gray;
			border: none;
			border-radius: 3px;
			color: $color-white-pure;
			font-family: $font-sansserif;
			font-size: $font-s;
			cursor: pointer;

			&:active {
				background-color: $color-black-off;
			}
		}

	.form__error {
	  font-family: $font-sansserif;
	  font-size: $font-s;
	  font-weight: bold;
	  color: #db1717;
	  margin-top: 10px;

	  &.hidden {
	    display: none;
	  }
	}
