@import '../reusable/form-elements';

.form {
	box-sizing: border-box;
	max-width: 400px;
	margin: 0 auto;
	border: 1px solid $color-gray-light;
	border-radius: 2px;
	background-color: $color-white-off;
	margin-top: 20px;
	padding: 10px 15px;

	@include mq($from: tablet-min) {
		float: right;
		margin-top: 0;
		border: none;
	}

	@include mq($from: tablet-min, $until: desktop-min) {
		width: 50%;
		padding: 15px;
	}

	@include mq($from: desktop-min) {
		width: 400px;
		padding: 25px;
	}
}

	.form__intro {
		font-family: $font-serif;
		font-size: $font-m;
		padding-bottom: 3px;
		border-bottom: 2px solid $color-yellow-tribune;
	}

	.form__fieldset {
		max-width: 400px;
		border: none;
		margin: 20px auto 0 auto;
		padding: 0;
	}

		.form__amounts {
			list-style: none;
		}

			.form__amount {
				display: inline-block;

				&--set {
					@extend .form__amount;
					width: 20%;
					float: left;
				}

				&--manual {
					@extend .form__amount;
					width: 100%;
					max-width: 200px;
					margin: 10px auto 0 auto;
				}
			}

				.form__amount-radio {

				}

				.form__amount-label {
					font-size: $font-m;
					font-family: $font-sansserif;
					color: $color-black-pure;
				}

				.form__amount-input {
					@extend .reusable-text-input;
					width: 150px;
				}

		.form__frequencies {
			list-style: none;
			text-align: center;
		}

			.form__frequency {
				display: inline-block;
				width: calc(33% - 15px);
				margin-right: 15px;

				&:last-child {
					margin-right: 0;
				}
			}

				.form__frequency-button {
					@extend .reusable-button;
				}

		.form__contact-group {
			display: block;

			&:last-child {
				margin-top: 20px;
			}
		}

			.form__contact-label {
				display: block;
				font-family: $font-serif;
				font-size: $font-m;
			}

			.form__contact-input {
				@extend .reusable-text-input;
				width: 100%;
			}

		.form__submit {
			@extend .reusable-button;
		}

	.form__error {
	  font-family: $font-sansserif;
	  font-size: $font-s;
	  font-weight: bold;
	  color: #db1717;
	  margin-top: 10px;

	  &.hidden {
	    display: none;
	  }
	}
