.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: $color-white-pure;
	box-shadow: 0px 3px 5px 0px rgba(211, 211, 211, 0.75);
}

	.header__inner {
		box-sizing: border-box;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 100%;
		padding: 0 15px;
		max-width: 1280px;
		margin: 0 auto;
	}

@import 'logo';
@import 'nav';
