.main {
	display: block;
	max-width: 1440px;
	margin: 0 auto;

	@include mq($from: tablet-min) {
		background-image: url(../../../assets/img/support-us-bg-image.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}
}

	.main__inner {
		@extend .clear;

		@include mq($from: tablet-min) {
			margin: 0 auto;
			padding: 5% 0;
		}

		@include mq($from: tablet-min, $until: desktop-min) {
			max-width: 720px;
		}

		@include mq($from: desktop-min) {
			max-width: 900px;
		}
	}

@import 'form';
@import 'text';
