{{#each amounts}}
	<li class="form__amount">
		<input class="form__amount-radio" type="radio" id="amount-{{ @index }}" value={{ this }}>
		<label class="form__amount-label" for="amount-{{ @index }}">&#36;{{ this }}</label>
	</li>
{{/each}}

<li class="form__amount">
	<input class="form__amount-input" type="text" placeholder="&#36;" value="">
</li>
